@font-face {
    font-family: Proxima Nova Regular;
    src: url(Proxima%20Nova/Proxima%20Nova%20Regular.otf);
}
@font-face {
    font-family: Proxima Nova Semibold;
    src: url(Proxima%20Nova/Proxima%20Nova%20Semibold.otf);
}
@font-face {
    font-family: ProximaNovaBlack;
    src: url(Proxima%20Nova/Proxima%20Nova%20Black.otf);
}
@font-face {
    font-family: Proxima Nova Light;
    src: url(Proxima%20Nova/Proxima%20Nova%20Light.otf);
}